<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2">
	<meta name="description" content="Judit Greskovits's portfolio">
	<meta name="keywords" content="Judit Greskovits, Developer, Creative Technologist, Technical Lead, HTML5, JavaScript, CSS, JQuery, Sass, Node, NodeJS, Meteor, Python, Django, iOS, Swift, Responsive">
	<meta name="author" content="Judit Greskovits">

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.gif" type="image/gif">
	
	<title>Judit Greskovits</title>

</head>