<template name="header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#portfolio">Judit Greskovits</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#portfolio" class="active">WORK</a></li>
					<!--<li><a href="#play">PLAY</a></li>-->
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#contact">HELLO</a></li>
				</ul>
			</div>
		</div>
	</nav>
</template>